<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercise 14</title>
    <style>
      h1 {
        text-align: center;
      }
      img {
        border: 5px ridge gold;
        display: block;
      }
      div, img{
        width: 300px;
        margin: 20px auto;
      }
    </style>
  </head>
  <body>
    <h1>Changing image using user input</h1>
    <img src="images/home.jpg" alt="Click here to choose the image" title="" />

    <div>
      Enter the last name of your favorite Celtics player
      <ul>
        <li>Jaylen Brown</li>
        <li>Jayson Tatum</li>
        <li>Al Horford</li>
        <li>Payton Pritchard</li>
      </ul>
    </div>
  </body>
</html>
