<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Processing using JavaScript</title>
  </head>
  <body>
    <canvas height="333" id="original-canvas" width="500">
      Your browser does not support the HTML5 canvas tag.
      <img alt="class" id="tiger" src="images/tiger1.jpg" width="500" />
    </canvas>
    <canvas height="333" id="myCanvas" width="500">
      Your browser does not support the HTML5 canvas tag.
    </canvas>
    <div>
      <button id="btn-1">Change</button>
      <button id="btn-2">Grayscale</button>
      <button id="btn-3">Negative</button>
      <h2 id="rgb-info"></h2>
    </div>

    <script>
      const tigerImage = document.getElementById("tiger");
      const originalCanvas = document.getElementById("original-canvas");
      const rgbInfo = document.getElementById("rgb-info");

      window.onload = function () {
        originalCanvas.getContext("2d").drawImage(tigerImage, 0, 0);
      };

      function pick(event) {
        const x = event.layerX;
        const y = event.layerY;
        const pixel = originalCanvas.getContext("2d").getImageData(x, y, 1, 1);
        const pixelData = pixel.data;
        const rgba =
          "rgba(" +
          pixelData[0] +
          ", " +
          pixelData[1] +
          ", " +
          pixelData[2] +
          ", " +
          pixelData[3] / 255 +
          ")";
        rgbInfo.style.background = rgba;
        rgbInfo.textContent = rgba;
        rgbInfo.style.color = "white";
      }
      originalCanvas.addEventListener("mousemove", pick);

      const c = document.getElementById("myCanvas");
      const ctx = c.getContext("2d");

      function changePic() {
        ctx.drawImage(tigerImage, 0, 0);
        const imgData = ctx.getImageData(0, 0, c.width, c.height);

        // create red channel filter by removing all the other colors
        for (let i = 0; i < imgData.data.length; i += 4) {
          // imgData.data[i] = 0;
        }
        ctx.putImageData(imgData, 0, 0);
      }

      document.getElementById("btn-1").onclick = changePic;
    </script>
  </body>
</html>
